.btn {
  padding: 33px calc(min(152px, 8vw));
  border: 5px solid white;
  background: linear-gradient(to right, white 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: white;
  border-radius: 0px;
  transition: all 1s ease;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  &:hover {
    color: black;
    background-position: left bottom;
  }

  &-black {
    background: black;
    border: none;

    &:hover {
      color: white;
    }
  }

  &-icon {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}
.btn-back {
  padding: calc(min(34px, 4vw));
  line-height: 0px;
  border-radius: 50%;
  position: absolute;
  top: 110px;
  left: 5vw;
  background: rgba($color: #fff, $alpha: 0.7);
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background: rgba($color: #fff, $alpha: 1);
  }
}