.footer {
  padding: 3rem 2rem 1rem;
  text-align: center;
  background-color: black;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;

    @media (max-width: $md) {
      flex-direction: column;
    }

    a {
      text-decoration: none;
      color: white;

      &.active {
        color: $yellow;
      }
    }
  }

  .copyright {
    color: #797979;
  }
}