.home {

  &-statistic {
    color: white;
    padding: $big-padding;
    text-align: center;

    .content-page {
      max-width: 750px;
      margin: 0px auto;
      display: block;
    }

    .big-text {
      font-size: calc(3rem + 7vw);
      margin-top: 225px;

      @media (max-width: $md) {
        font-size: 4rem;
      }
    }

    .content-changed {
      display: none;
      transition: display 0s, opacity 0.5s linear;

      &.active {
        animation: scale-display .7s;
        display: block;
      }
    }
  }
}
