.btn {
  padding: 1.75rem 4.5rem;
  border: 5px solid white;
  background: linear-gradient(to right, white 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: white;
  border-radius: 0px;
  transition: all 1s ease;
  cursor: pointer;
  display: block;
  margin: 0 auto;

  &:hover {
    color: black;
    background-position: left bottom;
  }

  &-black {
    background: black;
    border: none;

    &:hover {
      color: white;
    }
  }

  &-icon {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}
.btn-back {
  padding: calc(min(34px, 4vw));
  line-height: 0px;
  border-radius: 50%;
  position: absolute;
  top: 110px;
  left: 5vw;
  background: rgba($color: #fff, $alpha: 0.7);
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background: rgba($color: #fff, $alpha: 1);
  }
}

.flow {
  margin-top: 2rem;
  display: none;
  text-align: center;
  h5 {
    margin: 2rem 0rem;
  }
  &.active {
    display: block;
  }

  &-item {
    text-align: start;
    input {
      padding: 0.5rem;
      border-radius: 0px;
      border: 2px solid black;
      outline: none;
      font-size: 1.25rem;
      margin: 1rem 0rem;
    }
  }

  &-content {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    p {
      margin-top: 1rem;
    }
  }
}
.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 9px;
  background: linear-gradient(to right, #2AABEE 50%, #DEDEDE 50%);
  background-size: 200% 100%;
  background-position: 70%;
}

.donate-sum {
  font-size: 128px;
  border: none;
  border-bottom: 4px solid rgba(black, 0.05);
  width: 500px;
  input {
    font-size: 128px;
    background: transparent;
    border: none;
    outline: none;
    width: 500px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }  
}
.checkbox-wrapper {
  background-color: white;
  padding: 1.25rem 2rem;
  margin: 1rem;
  border: 1px solid transparent;
}
input:checked + label .checkbox-wrapper {
  border: 1px solid black;
}

.modal {
  position: relative;
  background: radial-gradient(at bottom left, rgba(0, 83, 209, 1) 0%, rgba(32, 64, 242, 1) 0%, rgba(252, 252, 252, 1) 79%, rgba(255, 255, 255, 1) 100%);
  background-size: 400%;
  background-position: top 200% left 220%;
  border-radius: 0 0 30px 30px;
  padding: $big-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: calc(100vh - 100px);
  overflow-y: auto;

  .btn {
    margin-top: 4rem;
  }

  .back {
    position: absolute;
    top: 4vw;
    left: 4vw;
    cursor: pointer;
    border-radius: 50%;
  }

  &-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(black, 0.3);
    display: none;

    &.open {
      display: block;
    }
  }
}

.bg {
  width: 100%;
}

.bg-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  &-statistic {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/bg-statistic.png');
  }
  &-home {
    background-image: url('../images/bg-1.png');
  }
  &-accounting {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/accounting-bg.png');
    &_zsu {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/accounting-zsu-bg.png');
    }
    &_civil {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/accounting-civil-bg.png');
    }
  }
}
.content-below {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  span {
    margin: 0 100px;
    @media (max-width: $md) {
      margin: 0 20px;
    }
  }
}