
.top-page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  &_help {
    justify-content: flex-start;
  }
  &_e404 {
    padding: 15px;
    justify-content: space-around;
    .top-page-about {
      max-width: unset;
    }
  }
  &-about {
    h1 {
      margin-bottom: 2rem;
    }

    text-align: center;
    max-width: 750px;
    text-shadow: 0px 2px 4px rgba(64, 43, 34, 0.53);

    &_unlimited {
      max-width: unset;
    }

    // @media (max-width: $md) {
    //   margin: 20vw auto;
    // }
  }

  .top {
    text-align: center;
    text-transform: uppercase;
    padding: 14px;
    background-color: $blue;

    &-wrapper {
      align-self: stretch;
    }
  }

  .btn {
    margin-bottom: 2rem;
  }

  .menu {
    text-align: center;
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &-item {
      text-decoration: none;
      color: white;

      &.active {
        color: $yellow;
      }
    }
  }
}