@use '../fonts/e-Ukraine_typeface/font.css';
@use './animations.scss';
@use './partials/top-page.scss';
@use './partials/footer.scss';
@use './partials/section.scss';
@use './partials/partials.scss';
@use './partials/home-page.scss';
@use './partials/img-nav.scss';
@use './partials/content.scss';
@use './partials/diagram.scss';
@use './partials/card.scss';
@use './partials/statistic.scss';
@use './partials/report.scss';
@use './partials/bg.scss';
@use './partials/btn.scss';
@use './partials/help-page.scss';

* {
  font-family: 'eUkraine';
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: 400;
}

