@import '../fonts/e-Ukraine_typeface/font.css';
@import './animations.scss';
@import './settings.scss';
@import './partials/footer.scss';
@import './partials/section.scss';
@import './partials/partials.scss';
@import './partials/home-page.scss';

* {
  font-family: 'eUkraine';
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: 400;
}

