@import url(../fonts/e-Ukraine_typeface/font.css);
h1 {
  font-family: 'eUkraineHead';
  font-size: 6rem; }

h2 {
  font-family: 'eUkraineHead';
  font-size: 5rem; }

h3 {
  font-family: 'eUkraineHead';
  font-size: 4rem; }

h4 {
  font-family: 'eUkraineHead';
  font-size: 3rem; }

h5 {
  font-family: 'eUkraine';
  font-size: 2rem; }

h6 {
  font-family: 'eUkraine';
  font-size: 1.5rem; }

@media (max-width: 768px) {
  h1 {
    font-size: 3.5rem; }
  h2 {
    font-size: 3rem; }
  h3 {
    font-size: 2.5rem; }
  h4 {
    font-size: 2rem; }
  h5 {
    font-size: 1.5rem; }
  h6 {
    font-size: 1rem; } }

@keyframes scale-display {
  0% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1); } }

@keyframes scale-display--reversed {
  0% {
    display: inline-flex;
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1); }
  99% {
    display: inline-flex;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    display: none;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0); } }

.top-page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white; }
  .top-page-about {
    text-align: center;
    max-width: 750px;
    text-shadow: 0px 2px 4px rgba(64, 43, 34, 0.53); }
    .top-page-about h1 {
      margin-bottom: 2rem; }
    .top-page-about_unlimited {
      max-width: unset; }
  .top-page .top {
    text-align: center;
    text-transform: uppercase;
    padding: 14px;
    background-color: #3A76F0; }
    .top-page .top-wrapper {
      align-self: stretch; }
  .top-page .btn {
    margin-bottom: 2rem; }
  .top-page .menu {
    text-align: center;
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .top-page .menu-item {
      text-decoration: none;
      color: white; }
      .top-page .menu-item.active {
        color: #EEDA2A; }

.footer {
  padding: 3rem 2rem 1rem;
  text-align: center;
  background-color: black; }
  .footer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem; }
    @media (max-width: 768px) {
      .footer__list {
        flex-direction: column; } }
    .footer__list a {
      text-decoration: none;
      color: white; }
      .footer__list a.active {
        color: #EEDA2A; }
  .footer .copyright {
    color: #797979; }

.section {
  padding: calc(min(6rem, 7vw)); }
  .section_reports {
    padding: 0px; }
    .section_reports .section__title {
      margin: calc(min(6rem, 7vw)) calc(min(6rem, 7vw)) 0px; }
  .section__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid black;
    padding-bottom: 2rem;
    margin-bottom: 3rem; }
    .section__title .text-end {
      display: flex;
      align-items: center; }
      .section__title .text-end img {
        margin-right: 1rem; }
  .section__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem; }
    .section__content div {
      text-align: center; }
      .section__content div h6 {
        margin: 2rem 0rem 1rem; }
  .section.bg-color {
    color: white;
    text-align: center;
    background-color: #3A76F0; }
    .section.bg-color .btn {
      margin-top: 2rem; }
  @media (max-width: 768px) {
    .section__title {
      display: block; }
      .section__title .text-end {
        margin-top: 2rem; }
    .section__content {
      flex-wrap: wrap; }
      .section__content div {
        margin-right: 0px; } }

.btn {
  padding: 1.75rem 4.5rem;
  border: 5px solid white;
  background: linear-gradient(to right, white 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: white;
  border-radius: 0px;
  transition: all 1s ease;
  cursor: pointer;
  display: block;
  margin: 0 auto; }
  .btn:hover {
    color: black;
    background-position: left bottom; }
  .btn-black {
    background: black;
    border: none; }
    .btn-black:hover {
      color: white; }
  .btn-icon {
    display: flex;
    gap: 10px;
    align-items: center; }

.btn-back {
  padding: calc(min(34px, 4vw));
  line-height: 0px;
  border-radius: 50%;
  position: absolute;
  top: 110px;
  left: 5vw;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.3s; }
  .btn-back:hover {
    background: white; }

.flow {
  margin-top: 2rem;
  display: none;
  text-align: center; }
  .flow h5 {
    margin: 2rem 0rem; }
  .flow.active {
    display: block; }
  .flow-item {
    text-align: start; }
    .flow-item input {
      padding: 0.5rem;
      border-radius: 0px;
      border: 2px solid black;
      outline: none;
      font-size: 1.25rem;
      margin: 1rem 0rem; }
  .flow-content {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap; }
    .flow-content p {
      margin-top: 1rem; }

.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 9px;
  background: linear-gradient(to right, #2AABEE 50%, #DEDEDE 50%);
  background-size: 200% 100%;
  background-position: 70%; }

.donate-sum {
  font-size: 128px;
  border: none;
  border-bottom: 4px solid rgba(0, 0, 0, 0.05);
  width: 500px; }
  .donate-sum input {
    font-size: 128px;
    background: transparent;
    border: none;
    outline: none;
    width: 500px; }
  .donate-sum input::-webkit-outer-spin-button,
  .donate-sum input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .donate-sum input[type=number] {
    -moz-appearance: textfield; }

.checkbox-wrapper {
  background-color: white;
  padding: 1.25rem 2rem;
  margin: 1rem;
  border: 1px solid transparent; }

input:checked + label .checkbox-wrapper {
  border: 1px solid black; }

.modal {
  position: relative;
  background: radial-gradient(at bottom left, #0053d1 0%, #2040f2 0%, #fcfcfc 79%, white 100%);
  background-size: 400%;
  background-position: top 200% left 220%;
  border-radius: 0 0 30px 30px;
  padding: calc(min(6rem, 7vw));
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: calc(100vh - 100px);
  overflow-y: auto; }
  .modal .btn {
    margin-top: 4rem; }
  .modal .back {
    position: absolute;
    top: 4vw;
    left: 4vw;
    cursor: pointer;
    border-radius: 50%; }
  .modal-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: none; }
    .modal-wrapper.open {
      display: block; }

.bg {
  width: 100%; }

.bg-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  .bg-image-statistic {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../images/bg-statistic.png"); }
  .bg-image-home {
    background-image: url("../images/bg-1.png"); }
  .bg-image-accounting {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/accounting-bg.png"); }
    .bg-image-accounting_zsu {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/accounting-zsu-bg.png"); }
    .bg-image-accounting_civil {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/accounting-civil-bg.png"); }

.content-below {
  display: flex;
  align-items: center;
  margin-bottom: 32px; }
  .content-below span {
    margin: 0 100px; }
    @media (max-width: 768px) {
      .content-below span {
        margin: 0 20px; } }

.home-statistic {
  color: white;
  padding: calc(min(6rem, 7vw));
  text-align: center; }
  .home-statistic .content-page {
    max-width: 750px;
    margin: 0px auto;
    display: block; }
  .home-statistic .big-text {
    font-size: calc(3rem + 7vw);
    margin-top: 225px; }
    @media (max-width: 768px) {
      .home-statistic .big-text {
        font-size: 4rem; } }
  .home-statistic .content-changed {
    display: none;
    transition: display 0s, opacity 0.5s linear; }
    .home-statistic .content-changed.active {
      animation: scale-display .7s;
      display: block; }

.img-nav {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: center; }
  .img-nav__btn {
    position: relative;
    text-decoration: none;
    color: white; }
    .img-nav__btn:not(:last-child) {
      margin-right: 4rem; }
      @media (max-width: 768px) {
        .img-nav__btn:not(:last-child) {
          margin-right: 0px; } }
    .img-nav__btn img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(1px); }
  .img-nav__wrapper {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    cursor: pointer; }
    .img-nav__wrapper:hover {
      background: #3A76F0; }
  @media (max-width: 768px) {
    .img-nav {
      flex-wrap: wrap;
      gap: 15px; }
      .img-nav__btn {
        height: 120px; } }

.content {
  width: 100%;
  padding: calc(min(10vw, 56px));
  display: flex;
  justify-content: center;
  gap: 12vw; }
  .content_black {
    background: #000;
    color: white; }
  .content_blue {
    background: #3A76F0;
    color: white; }
  @media (max-width: 768px) {
    .content {
      gap: 5vw;
      padding: 10vw 3vw;
      flex-direction: column;
      text-align: center;
      align-items: center; } }

.content-statistic {
  display: flex; }

.content-couter {
  max-width: 300px;
  text-align: start; }
  .content-couter__header {
    font-family: 'eUkraineHead'; }
  .content-couter__value {
    margin: 41px 0px;
    font-weight: bold; }
    .content-couter__value small {
      font-size: 24px; }
    @media (max-width: 768px) {
      .content-couter__value {
        margin: 5vw 0; } }
  .content-couter__amount {
    font-weight: 400;
    opacity: 0.8; }
  @media (max-width: 768px) {
    .content-couter {
      text-align: center; } }

.content-about {
  max-width: 450px; }

.diagram {
  display: flex;
  max-height: 220px;
  max-width: 620px;
  height: 193px;
  align-items: flex-end;
  gap: 2vw; }
  .diagram_white .bar__value {
    background: linear-gradient(180deg, white 6.25%, rgba(58, 118, 240, 0) 99.99%); }
  .diagram_yellow .bar__value {
    background: linear-gradient(180deg, #EEDA2A 6.25%, rgba(58, 118, 240, 0) 99.99%); }

.bar {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .bar__value {
    color: black;
    position: relative;
    margin: 0px 4px;
    background: linear-gradient(180deg, #3A76F0 6.25%, rgba(58, 118, 240, 0) 99.99%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .bar__value span {
      z-index: 5;
      position: absolute;
      top: calc(50% - 1rem);
      padding: 5px 10px;
      border-radius: 50px;
      background: #FFFFFF;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
      opacity: 0;
      transition: 0.3s; }
    .bar__value:hover span {
      opacity: 1; }
  .bar__label {
    opacity: 0.5;
    margin-top: 17px; }
    @media (max-width: 768px) {
      .bar__label {
        font-size: 12px; } }

.card {
  width: 360px;
  height: 510px;
  position: relative;
  perspective: 1000px; }
  .card__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    opacity: 0;
    transition: 0.3s;
    background: linear-gradient(34.17deg, rgba(131, 181, 249, 0.87) 15.18%, rgba(245, 245, 188, 0.87) 84.99%); }
  .card__front, .card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.3s;
    backface-visibility: hidden;
    background-color: #fff;
    border: 4px solid black; }
  .card__front {
    cursor: pointer; }
    .card__front img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover; }
    .card__front span {
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding: 14px;
      color: white;
      background-color: black;
      font-size: 24px;
      z-index: 4;
      transition: 0.3s; }
    .card__front:hover .card__wrapper {
      opacity: 0.8; }
    .card__front:hover span {
      background-color: initial; }
  .card__back {
    text-align: center;
    position: relative;
    padding: 46px 50px 20px;
    transform: rotateY(180deg); }
    .card__back p {
      margin-top: 54px; }
    .card__back h6 {
      margin: 0px; }
  .card__btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
    padding: 19px;
    border: none;
    outline: none;
    background-color: #3A76F0;
    color: white;
    cursor: pointer; }
  .card.rotate .card__front {
    transform: rotateY(180deg); }
  .card.rotate .card__back {
    transform: rotateY(360deg); }

.statistic {
  margin-top: calc(min(118px, 7vw));
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem; }
  .statistic__item {
    margin-top: 2rem; }
  .statistic__header {
    display: flex;
    margin-bottom: 1rem; }
  .statistic__progress {
    max-width: 161px;
    min-width: 161px;
    max-height: 161px;
    min-height: 161px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    position: relative;
    background-image: linear-gradient(to top, #3A76F0 0%, #e7f0fd 100%);
    overflow: hidden; }
    .statistic__progress_yellow {
      background-image: linear-gradient(to top, #EEDA2A 0%, #e8ecb0 100%); }
  .statistic__value {
    z-index: 5; }

.wave {
  width: 360px;
  height: 360px;
  position: absolute;
  bottom: 0%;
  left: -50%;
  border-radius: 45%;
  background: rgba(255, 255, 255, 0.75);
  animation: wave 15s infinite linear; }

@keyframes wave {
  from {
    transform: rotate(0deg); }
  from {
    transform: rotate(360deg); } }

.report {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: calc(min(3rem, 7vw)) calc(min(6rem, 7vw)); }
  .report:nth-child(2) {
    background-color: #F4F4F4; }
  .report__title {
    display: flex;
    align-items: center;
    gap: 4vw; }
  .report__images {
    max-width: 495px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, calc(min(35px, 5vw)));
    grid-gap: 7px; }
    .report__images img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; }
    .report__images .first {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 7; }
    .report__images .second {
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-start: 1;
      grid-row-end: 4; }
    .report__images .third {
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-start: 4;
      grid-row-end: 7; }
  @media (max-width: 992px) {
    .report {
      flex-direction: column; } }

* {
  font-family: 'eUkraine';
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: 400; }
